Django==4.2.7
mysqlclient==2.2.0
Pillow==10.0.1
django-extensions==3.2.3
python-decouple==3.8
django-crispy-forms==2.1
crispy-bootstrap4==2022.1


# Please refer below link as well https://github.com/YadavThapa/Django-eCommerce-Application-Part-1

# All supportings have been uploaded in the github repository.