{% extends 'shop/base.html' %}

{% block title %}About - Himalayan eCommerce{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1>About Himalayan eCommerce</h1>
            <p class="lead">We're a small marketplace focused on curated quality products and fair vendor partnerships.</p>
            <p>Our mission is to connect local vendors with customers looking for reliable products and great service.</p>
        </div>
    </div>
</div>
{% endblock %}
